* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px; }

.header {
  width: 100%;
  background-color: #000000; }
  .header__container {
    width: 1100px;
    display: table;
    margin: 0 auto;
    padding: 1.375em;
    color: #fff; }
  .header__logo {
    display: table-cell;
    height: 50px;
    vertical-align: middle; }
  .header__menu {
    display: table-cell;
    height: 50px;
    vertical-align: middle; }

.logo {
  width: 79px;
  height: 27px;
  display: block;
  background-image: url("../img/logo.png"); }

/*$width: 400px;

@function increment ($size, $inc: 1px) {
	@return $size + $inc;
}

@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

body {
	width: increment(2px);
}

.header {
	width: 100%;
	@include clearfix;
}*/
