@import "variables";
@import "base";
@import "header";
@import "logo";


/*$width: 400px;

@function increment ($size, $inc: 1px) {
	@return $size + $inc;
}

@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

body {
	width: increment(2px);
}

.header {
	width: 100%;
	@include clearfix;
}*/